# Python
__pycache__/
*.pyc

# Virtual env
.venv/
env/

# Data (optional - keep if large)
data/raw/
data/processed/

# Chroma DB 
chroma_db/
vector_db/
*.faiss
*.pkl
# Results
results/

# VS Code
.vscode/

# OS
.DS_Store